<footer>
  <div class="f-info">
    <div class="fw-bold mt-3">
      Made with ❤️ by Sanam
    </div>
    <a class="f-info-brand nav-link" href="/listings"> &copy; Wanderlust Private Limited</a>
      <div>Facebook • Instagram • Twitter</div>
    </div>
  </div>
</footer>
