<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <i class="fa-brands fa-square-facebook"></i>
      <i class="fa-brands fa-square-instagram"></i>
      <i class="fa-brands fa-linkedin"></i>
    </div>
    <a class="f-info-brand nav-link" href="/listings"> &copy; Wanderlust Private Limited</a>
    <a class="nav-link" href="https://www.linkedin.com/in/jstsanam1306/">LinkedIn</a>
    &nbsp;•&nbsp;
    <a class="nav-link" href="https://www.instagram.com/jstsanam/">Instagram</a>
    &nbsp;•&nbsp;
    <a class="nav-link" href="https://twitter.com/sanam1306">Twitter</a>
  </div>
</footer>